fastapi==0.114.0
faster_whisper==1.0.3
gTTS==2.5.3
huggingface_hub==0.24.5
llama_index==0.11.7
numpy==2.1.1
PyAudio==0.2.14
pydantic==2.9.0
pygame==2.6.0
qdrant_client==1.11.1
scipy==1.14.1
streamlit==1.37.1
langchain_openai 
langchain_core
python-dotenv
streamlit
chainlit
requests